<div class="container">
<h1>Clubs</h1>

<% @clubs.each do |club| %>
  <h4><%= club.name %></h4>
  <p><%= link_to 'Show', club %>
  <%= link_to 'Edit', edit_club_path(club) %>
  <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<br>

<%= link_to 'New Club', new_club_path %>

</div>
