<div class="container" style="text-align:center;">
  <h1><%= @club.name %>
    Club</h1>
  <h2><%= @club.book.title %></h2>
  <p>
    <strong>Book description:</strong>
    <%= @club.book.description %></p>
  <div class="row">
    <h3 class="white-text">Posts:</h3>
    <div class="main">
      <% if @club.posts.nil? %>
        <p>No reviews yet!</p>
      <% else %>
        <% @club.posts.each do |post| %>
          <div class="row" style="background-color: white; border-radius: 10px;">
            <p>
              <div class="col-sm-1" style="text-align: right;">
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <div class="col-sm-11" style="text-align: justify;">
                <%= User.find(post.user_id).name %>
                <span style="color: grey;"><%= post.created_at.to_s(:time) %></span></br>
                <%= post.post %>
              </div>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="margin-bottom">
      <%= link_to 'Add a post', new_club_post_path(@club) %>
    </div>
  </div>
</div>
