<div class="container" style="text-align:center;">
  <h1><%= @club.name %>
    Club</h1>
  <h2><%= @club.book.title %></h2>
  <p>
    <strong>Book description:</strong>
    <%= @club.book.description %></p>
  <div class="row">
    <h3 class="white-text">Posts:</h3>
    <div class="main">
      <% if @club.posts.nil? %>
        <p>No reviews yet!</p>
      <% else %>
        <% @club.posts.each do |post| %>
          <p>
            <span class="glyphicon glyphicon-user"></span>
            <%= User.find(post.user_id).name %><br>
            <%= post.post %>
        </p>
        <% end %>
      <% end %>
    </div>
    <div class="margin-bottom">
      <%= link_to 'Add a post', new_club_post_path(@club) %>
    </div>
  </div>
</div>
