<div class="container club_main">
  <div class="club_header">
    <h1><%= @club.name %> Club</h1>
    <h2><%= @club.book.title %></h2>
    <p><strong>Book description:</strong><%= @club.book.description %></p>
    <%= image_tag @book.picture_url.to_s, class: "club_image img-responsive"%>
  </div>

  <div class="club_page">
    <% if @club.posts.nil? %>
    <p>No posts yet!</p>
  <% else %>
    <div class="club_page_header">
      <h3>MEMBERS POSTS</h3>
    </div>
    <% @club.posts.each do |post| %>
    <p>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span><%= User.find(post.user_id).name %></span>:
      <span><%= post.post %></span>
    </p>
    <% end %>
    <% end %>

    <%= link_to 'Post', new_club_post_path(@club) %>
  </div>
</div>
