<div class="container">
  <div class="row" id="profile">
    <%= image_tag @user.picture_url.to_s, class: 'profile_img'%>
    <h1 class="username"><%= @user.name %></h1>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  </div>

    <h1>My Work</h1>
    <% @user.books.each do |book| %>
    <div class="col-md-3 card">
      <div class="top">
        <%= image_tag book.picture_url.to_s, class: "card-img-top img-responsive", id: "image-main" %>
      </div>
      <div class="details">
        <h4 class="card-title">
          <%= book.title %></h4>
        <h6 class="text-muted">by
          <%= book.author %></h6>
        <% if book.status == true %>
        <button class="btn btn-success">Completed</button>
        <% end %>
      </div>
      <div class="truncate">
        <%= book.description %><br>
      </div>
      <div class="bottom">
        <%= link_to book_path(book), id: 'card-button' do %>
        <button type="button" name="button" class="btn btn-info">Read Book</button>
        <% end %>
      </div>
    </div>
    <% end %>

</div>
