<p id="notice"><%= notice %></p>

<h1>Books</h1>

<% @books.each do |book| %>
<div class="container">

  <div class="col s12 m7" id="card">
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag book.picture_url.to_s, class: 'image' %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= book.title %></p>
          <p>by <%= book.author %></p>
          <p><%= book.description %></p>
          <p><%= book.language %></p>
          <p><%= book.category %></p>
          <p><%= link_to 'Show', book %></p>
          <p><%= link_to 'Edit', edit_book_path(book) %></p>
          <p><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <div class="card-action">
          <%= link_to "Read Book", book_path(book) %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>


<br>

<%= link_to 'New Book', new_book_path %>
