<div class="container">

  <%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Search by Category' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>

  <% @books.each do |book| %>
  <div class="col-md-3 card">
    <div class="top">
      <%= image_tag book.picture_url.to_s, class: "card-img-top img-responsive", id: "image-main" %>
    </div>
    <div class="details">
      <h4 class="card-title">
        <%= book.title %></h4>
      <h6 class="text-muted">by
        <%= book.author %></h6>
      <h6><%= book.category %></h6>
      <% if book.status == true %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true">Completed</span>
      <% end %>
    </div>
    <div class="truncate">
      <%= book.description %>
    </div>
    <%= link_to book_path(book), id: 'card-button' do %>
    <button type="button" name="button" class="btn btn-success">Read Book</button>
    <% end %>

  </div>
  <% end %>

</div>
