<div class="container">
  <h1><%= @book.title %></h1>
  <% if current_user %>
  <%= link_to like_book_path(@book), method: :put do %>
    Upvote
    <%= @book.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_book_path(@book), method: :put do %>
    Downvote
    <%= @book.get_downvotes.size %>
  <% end %>
  <%= @book.score %>
  <% else %>
    <p><%= link_to "Log In", new_user_session_path %>/<%= link_to "Sign Up", new_user_registration_path %> to upvote or downvote.</p>
  <% end %>

  <p>
    <%= markdown(@book.content) %>
  </p>
  <% if current_user.id == @book.user_id %>
  <%= link_to 'Continue Writing', edit_book_path(@book) %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  <%= link_to 'Back', books_path %>
  <h3 class="white-text">Reviews:</h3>
		<div class="main">
			<% if @book.comments.nil? %>
			<p>No reviews yet!</p>
			<% else %>
			<%= render 'comments/comment' %>
			<% end %>
		</div>
		<br>
		<div class="margin-bottom">
      <% if current_user %>
		    <%= link_to 'Add a review', new_book_comment_path(@book), id: 'new_link', remote: true %>
      <% else %>
        <p><%= link_to "Log In", new_user_session_path %>/<%= link_to "Sign Up", new_user_registration_path %> to add a comment.</p>
      <% end %>
		</div>
</div>
