<p id="notice"><%= notice %></p>
<div class="container">
  <h1><%= @book.title %></h1>
  <p>
    <%= markdown(@book.content) %>
  </p>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <%= link_to 'Back', books_path %>
</div>
