<!DOCTYPE html>
<html>
  <head>
    <title>Bookworm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# unless landing == "landing" %>
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav" aria-hidden="">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger">
              <span></button>
              <a class="navbar-brand page-scroll" href="/books"><img src="http://img.freepik.com/free-photo/bookworm_21266435.jpg?size=338&ext=jpg" alt=""></a>
            </div>
            <!-- navbar-header -->
            <div id="menu-nav" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to 'Create', new_book_path %>
                </li>
                <%if current_user %>
                <li>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
                </li>
                <%else%>
                <li>
                  <%= link_to 'Log In', new_user_session_path %>
                </li>
                <li>
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
                <%end%>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to current_user.name, current_user %>
                <% end %>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container-fluid -->
      </nav>
      <%# end %>
      <%= yield %>
      <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
      <% end %>


    </body>



  </html>
